.list-page {
    padding: 42px calc(50% - 300px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.list-page__title {
    font-size: 34px;
    margin: auto;
    margin-bottom: 26px;
    width: 100%;
    text-align: center;
}

.list-page ul li {
    font-size: 18px;
}
